<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanserwei.mapper.OrdersMapper">
    <resultMap id="BaseResultMap" type="com.hanserwei.entity.po.Orders">
        <!--@mbg.generated-->
        <!--@Table orders-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, address, total_amount, `status`, created_at, updated_at
    </sql>

    <insert id="insertOneOrder" keyProperty="id" useGeneratedKeys="true">
        insert into orders (user_id, address, total_amount, `status`, created_at, updated_at)
        values (#{userId}, #{address}, #{totalAmount}, #{status}, #{createdAt}, #{updatedAt})
    </insert>
    
    <select id="selectByUserId" resultType="com.hanserwei.entity.vo.OrderVO">
        SELECT id, user_id, address, total_amount, status, created_at, updated_at
        FROM orders
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>
</mapper>