<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanserwei.mapper.UsersMapper">
    <resultMap id="BaseResultMap" type="com.hanserwei.entity.po.Users">
        <!--@mbg.generated-->
        <!--@Table users-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password_hash" jdbcType="VARCHAR" property="passwordHash"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, username, password_hash, email, phone_number, created_at, updated_at
    </sql>

    <select id="selectOneByUsername" resultType="long">
        select id
        from users
        where username = #{username}
    </select>

    <insert id="insertOneUser" parameterType="com.hanserwei.entity.po.Users" useGeneratedKeys="true" keyProperty="id">
        insert into users (username, password_hash, email, phone_number, created_at)
        values (#{username}, #{passwordHash}, #{email}, #{phoneNumber}, #{createdAt})
    </insert>

    <select id="selectByUsernameAndPasswordHash" resultType="com.hanserwei.entity.vo.UserLoginVO">
        select id, username, email, phone_number
        from users
        where username = #{username} and password_hash = #{passwordHash}
    </select>

    <select id="selectOneByEmail" resultType="java.lang.String">
        select email
        from users
        where email = #{email}
    </select>

    <select id="selectOneByPhoneNumber" resultType="java.lang.String">
        select phone_number
        from users
        where phone_number = #{phoneNumber}
    </select>
</mapper>